.location-area {
  height: 95%;
}

.location-panel {
  padding: 0.8rem 1rem;
  cursor: pointer;
  border: 2px solid #ddd;
  border-radius: 1rem;
  background-color: rgb(236, 236, 236);
  margin-bottom: 0.6rem;
}

.location-panel:active{
  border: 2px solid #212529;
}

.location-icon {
  background-color: rgb(224, 223, 223);
 display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 50%;
  
}
.location {
  overflow: hidden;
}

.location h4 {
  text-transform: capitalize;
  font-size: 1.1rem;
  color: #212529;
  margin-bottom: 0.1rem;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.location p {
  color: #212529;
  font-size: 0.9rem;
  width: 100%;
  margin: 0;
  text-transform: capitalize;
}
